<svg
  xmlns="http://www.w3.org/2000/svg"
  width="1440"
  height="812"
  viewBox="0 0 1440 812"
  fill="none"
>
  <title>Simple Shiny</title>
  <g clip-path="url(#clip0_192_2696)">
    <path
      d="M3.05176e-05 498.965C72.061 497.366 145.003 517.756 211.269 476.673C284.266 431.417 354.436 361.22 389.157 257.697C424.169 153.305 426.168 26.0231 399.045 -83.1923C373.888 -184.491 308.304 -248.908 247.829 -311.38C198.433 -362.407 139.607 -378.264 82.9661 -409.706C20.4091 -444.431 -36.13 -519.69 -102.426 -505.805C-170.581 -491.531 -229.323 -419.237 -267.644 -336.277C-303.963 -257.651 -306.743 -158.542 -306.546 -63.9088C-306.371 20.2347 -280.123 94.7067 -266.575 176.524C-249.135 281.847 -272.827 416.757 -215.465 486.141C-159.126 554.287 -73.359 500.594 3.05176e-05 498.965Z"
      fill="#d0d1d3"
      style="transform: rotate(349.3deg) scale(0.591)"
    />
    <path
      style="
        transform-box: fill-box;
        transform-origin: center center;
        transform: rotate(202.7deg) scale(0.702);
      "
      d="M1440 1392.86C1534.39 1391.43 1628.22 1485.14 1715.94 1434.6C1807.36 1381.93 1862.07 1247.91 1909.06 1122.61C1958.67 990.283 2000.14 847.014 1992.57 696.8C1984.73 541.179 1934.16 397.468 1866.42 276.232C1797.12 152.217 1713.96 11.7928 1604.11 1.60075C1494.68 -8.55215 1426.57 181.305 1321.26 225.655C1215.46 270.218 1077.37 145.815 998.128 256.818C920.635 365.368 968.373 558.362 972.289 714.492C975.55 844.48 987.604 968.93 1019.05 1090.75C1052.56 1220.6 1074.63 1381.53 1160.32 1443.03C1246.25 1504.7 1344.13 1394.32 1440 1392.86Z"
      fill="#d0d1d3"
    />
  </g>
  <defs>
    <clipPath id="clip0_192_2696">
      <rect width="1440" height="812" fill="white" />
    </clipPath>
  </defs>
</svg>
