<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
      <h1>404</h1>
      <span>OOPS, Page Not Found :)</span>
    </div>
    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
