<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2 class="title-page">About Me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corrupti!
        Dolores soluta illum, consequuntur aliquam dolorem distinctio aut
        expedita fuga dicta architecto. Et aliquid impedit laborum voluptas,
        quis dolorem provident!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, corrupti!
        Dolores soluta illum, consequuntur aliquam dolorem distinctio aut
        expedita fuga dicta architecto. Et aliquid impedit laborum voluptas,
        quis dolorem provident!
      </p>
    </div>
    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
